:root {
    --base: #FEFEFE;
    --gray1: #333333;
    --gray2: #4F4F4F;
    --gray4: #BDBDBD;
    --gray5: #E0E0E0;
    --gray6: #F2F2F2;
    --gradient: linear-gradient( to right, #4BD8B5, #49D6DF)
}

.gradient-btn {
    font-weight: 900;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--base);
    width: 243px;
    height: 55px;
    background: var(--gradient);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    transition: all ease-out 0.2s;
}

.gradient-btn>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gradient-btn>div>svg {
    padding-right: 6px;
}

.gradient-btn:hover {
    opacity: 85%;
    transform: scale(1.05);
}

.control {
    width: 245px;
    height: 49px;
    display: flex;
    align-content: center;
    flex-direction: column;
    font-size: 24px;
    line-height: 28px;
    font-weight: 900;
}

.control .counter {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10px;
}

.control .total_counter {
    font-size: 14px;
    line-height: 16px;
    color: var(--gray4);
}

.control .control_slider {
    outline: none;
    width: 100%;
    -webkit-appearance: none;
    background: var(--gray4);
    height: 5px;
    padding: initial;
    border: initial;
    margin: 2px;
}

.control .control_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 10px;
    cursor: pointer;
}

.white_control {
    color: var(--base);
}

.white_control .control_slider::-webkit-slider-thumb {
    background: var(--base);
}

.black_control {
    color: var(--gray1);
}

.black_control .control_slider::-webkit-slider-thumb {
    background: var(--gray1);
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: var(--gray1);
    padding: 0px;
    border: 0px;
    margin: 0;
    outline: none;
}

header .hidden {
    width: 1px;
    height: 1px;
    position: absolute;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
}

a {
    text-decoration: none;
}

.screen_header {
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    color: var(--gray1);
}


/* header */


/* #region */

header {
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--base);
}

.header_logo {
    width: 59px;
    height: 42px;
    background-image: url('./assets/icons/header_logo.svg');
    content: '';
}

.header_nav_list {
    width: 573px;
    height: 23px;
}

.nav_list {
    display: inline-block;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 0;
    padding-left: 0;
    color: var(--gray1);
    font-size: 16px;
    font-weight: 500;
}

.header_nav_link {
    color: var(--gray1);
}

.header_nav_link:hover {
    text-decoration: underline;
    font-weight: 900;
}

.active_page {
    cursor: default;
    text-decoration: underline;
    font-weight: 900;
    pointer-events: none;
}

#header_switch {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 30px;
}

.toggle-btn {
    position: relative;
    width: 54px;
    height: 30px;
    margin: 0;
    vertical-align: top;
    background: var(--gray6);
    border-radius: 190px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-btn::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 5px;
    width: 20px;
    height: 20px;
    background-color: var(--base);
    border-radius: 50%;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
    transform: translateX(0);
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-btn:checked::after {
    transform: translateX(calc(100% + 3px));
    background-color: #1b1b1b;
}

.toggle-btn:checked {
    background-color: var(--gray4);
}


/* #endregion */


/*first screen*/


/*#region*/

.first_screen {
    height: 940px;
    background-image: url('./assets/images/first.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--base);
    overflow: hidden;
}

.first_screen_wrapper {
    padding-left: 150px;
    width: 1770px;
    margin: 0 auto;
}

.first_screen_header {
    padding-left: 12%;
    padding-top: 12%;
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 89px;
    line-height: 94px;
    max-width: 793px;
    color: var(--base);
}

.first_screen .gradient-btn {
    margin-top: 6.5%;
}

.first_screen_socials {
    display: flex;
    padding-top: 6.5%;
    height: 107px;
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -12.5%;
}

.socials_link:hover svg>path {
    fill: #49D6DF;
}

.first_screen_gallery {
    width: 1124px;
    margin-left: 37.7%;
    margin-top: -5%;
}

.first_screen .images {
    background-image: url('./assets/icons/line.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 14%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.first_screen_gallery .gallery_item {
    height: 203px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 46px;
    transition: all 0.3s;
    cursor: pointer;
}

.first_screen_gallery .gallery_item:hover:not(.first_screen_gallery .chosen_item:hover) {
    transform: scale(1.1);
}

.first_screen_gallery>.images>.chosen_item {
    width: 245px;
    height: 352px;
    position: relative;
    cursor: default;
}

.first_screen_gallery>.images>.chosen_item>.image_legend {
    display: block;
}

.first_screen .gallery_image {
    height: 100%;
}

.first_screen .image_legend {
    display: none;
    position: absolute;
    padding: 20px 20px 49px;
    color: var(--base);
    margin-top: 190px;
}

.first_screen .image_legend>p {
    padding-right: 20px;
}

.first_screen .gallery_btns {
    width: content;
    height: 24px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: var(--base);
    background: none;
    display: inline-flex;
    align-items: center;
    text-align: center;
    padding-right: 7px;
}

.first_screen .gallery_btns>svg {
    padding-right: 2px;
}

.first_screen .control {
    margin-left: 343px;
    margin-top: 9px;
}


/* #endregion */


/* HOW */


/* #region */

.how_screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.how_screen .wrapper {
    padding: 100px 0;
    width: 790px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.how_screen .screen_header {
    align-self: flex-start;
}

.how_screen .article {
    font-size: 14px;
    line-height: 16px;
    color: var(--gray2);
}

.how_screen img {
    width: 790px;
    height: 323px;
    border-radius: 5px;
}

.gray_block {
    background-color: var(--gray6);
    width: 100%;
    display: flex;
    justify-content: center;
}

.gray_block .wrapper {
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
}

.gray_block .about_us {
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.gray_block img {
    width: 80px;
    height: 80px;
}

.gray_block .header {
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: var(--gray1);
    align-self: center;
}

.gray_block .text {
    font-size: 14px;
    line-height: 16px;
    color: var(--gray2);
}


/*#endregion */


/* PETS IN ZOO */


/* #region */

.pets_screen {
    display: flex;
    justify-content: center;
}

.pets_screen .wrapper {
    width: 1300px;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.pets_screen .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.pets_screen .gallery img {
    width: 277px;
    height: 399px;
    border-radius: 5px;
}

.pets_screen .gallery .description {
    display: none;
    position: absolute;
}


/* #endregion */


/* PAY AND FEED */


/* #region */

.pay_screen {
    display: flex;
    justify-content: center;
    background: var(--gray6);
}

.pay_screen .wrapper {
    width: 1200px;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.pay_screen .content {
    padding: 60px 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 63px;
}

.pay_screen .content .item {
    width: 245px;
    height: 245px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: var(--gray2);
}

.pay_screen .content .item>svg {
    position: absolute;
}

.pay_screen .content .item>img {
    width: 60px;
    height: 60px;
}

.pay_screen .item_name {
    width: 135px;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: var(--gray2);
}


/* #endregion */


/* TESTIMONIALS */


/* #region */

.testimonials_screen .wrapper {
    margin: auto;
    width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 100px;
    gap: 30px;
}

.testimonials_screen .content {
    padding: 30px 0 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.testimonials_screen .item {
    width: 585px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
    border-radius: 5px;
    font-size: 20px;
    line-height: 23px;
    margin: 0 20px;
}
.testimonials_screen .content .name {
    color: var(--gray1);
    font-weight: 900;
}

.testimonials_screen .content .text {
    width: 440px;
    font-size: 14px;
    line-height: 16px;
    color: var(--gray2);
}


/* #endregion */


/* MAP */


/* #region */

.map_screen {
    background-color: var(--gray6);
}

.map_screen .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 100px;
    color: var(--gray1);
}

.map_screen .block_name {
    
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: var(--gray1);
    padding-bottom: 60px;
}

.marker {
    position: absolute;
    cursor: pointer;
}

.marker, .marker>svg, .marker>svg>path {
    transition: all ease 0.3s;
}

.marker:hover svg>path {
    fill: #EB5757;
}

.marker:hover .tooltip {
    display: flex;
}

.active_marker>svg>path {
    fill: #EB5757;
}

.active_marker {
    pointer-events: none;
}

.map .tooltip .name {
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: var(--gray1);
    padding-bottom: 2px;
}

.map .tooltip {
    display: none;
    position: absolute;
    margin-left: -250px;
    margin-top: 20px;
    background: #FEFEFE;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
    border-radius: 8px;
    width: 436px;
    height: 149px;
    justify-content: center;
    align-items: center;
}

.map .tooltip img {
    padding-right: 20px;
}

.marker_img {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 15px;
    top: 14px;
}

.eagle_marker {
    margin-left: 131px;
    margin-top: 81px;
}

.alligator_marker {
    margin-left: 244px;
    margin-top: 102px;
}

.gorilla_marker {
    margin-left: 570px;
    margin-top: 189px;
}

.panda_marker {
    margin-left: 903px;
    margin-top: 98px;
}

.map_screen .gradient-btn {
    margin-top: 40px;
}


/* #endregion */


/* FOOTER */


/* #region */

footer {
    display: flex;
    background-color: var(--gray1);
    justify-content: center;
}

footer>.wrapper {
    width: 1920px;
    height: 647px;
    padding-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    grid-template-rows: max-content auto 20%;
    row-gap: 57px;
    align-items: start;
    color: var(--base);
}

.footer_logo {
    width: 59px;
    height: 42px;
    background-image: url('./assets/icons/footer_logo.svg');
    content: '';
}

.footer_nav {
    grid-column-start: 3;
    grid-column-end: 4;
    align-self: center;
}

footer .gradient-btn {
    grid-column-start: 4;
    grid-column-end: 5;
    justify-self: end;
    width: 275px;
    height: 55px;
}

.footer_nav_link {
    color: var(--base);
}


/*CONTACT US*/

.footer_contacts_us {
    outline: none;
    height: 347px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_contact_us_h5 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: var(--base);
    margin: 0;
    padding-bottom: 10px;
}

fieldset {
    width: 360px;
    height: 109px;
    border: 1px solid var(--gray4);
    border-radius: 3px;
}

legend {
    padding: 0 5px;
    margin: 0 2px;
    margin-right: 15px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: var(--gray4);
}

.input {
    height: 26px;
    border: 0;
    padding: 0;
    color: var(--gray5);
    background-color: inherit;
    border-bottom: 1px solid var(--gray4);
    outline: none;
}

.message_field {
    width: 358px;
    border: 0;
    padding: 0;
    color: var(--gray5);
    background-color: inherit;
    height: 95px;
}

.checkbox {
    width: 243px;
    height: 20px;
    display: flex;
    align-items: center;
}

.agreement_checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
    content: '';
}

.new_checkbox {
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 1px;
}

.agreement_checkbox:checked {
    border: 10px solid red;
}

.agreement_label {
    padding-left: 6px;
    display: inline-block;
    width: auto;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: var(--gray4);
}

.send_btn {
    align-self: flex-end;
    display: flex;
    align-items: center;
    width: 108px;
    padding-right: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--base);
}

.send_btn>svg {
    padding-left: 23px;
    transition: all 0.3s ease;
}

.send_btn:hover svg {
    transform: scale(1.2);
}

.send_btn:hover svg>path {
    fill: #49D6DF;
}

.online_centre {
    grid-column-start: 3;
    width: 190px;
}

.zoo_header {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 0;
}

.online_centre {
    font-size: 14px;
    line-height: 16px;
}

.br {
    height: 25px;
}

.footer_socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 125px;
    height: 20px;
}

.credits {
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 12px;
    line-height: 14px;
    color: var(--gray4);
}

.footer_line {
    height: 1px;
    background-color: var(--base);
}

.credit {
    padding-top: 28px;
}


/* #endregion */


/* background: var(--gradient);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */